<!DOCTYPE html>
<html>
  <head>
    <%include ../partials/head.ejs%>
    <link rel="stylesheet" href="/style_home.css">
  </head>
  
  <body>
    <div class="container-fluid">
      
      <%include ../partials/topper.ejs%>
      
      <div class="row">
        <div class="col-sm-2 side">

        </div>
        
        
        <div class="col-sm-8 middle">
          <div class="row">
            <%include ../parts/book_card.ejs%>  
          </div>
        </div>
        
        
        <div class="col-sm-2 side">

        </div>
    </div>  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/client_office.js"></script>
      
  </body>
</html>