<!DOCTYPE html>
<html>
  <head>
    <%include ../partials/head.ejs%>
    <link rel="stylesheet" href="/style_home.css">
  </head>
  <body>
    <div class="container-fluid">
      <%include ../partials/topper.ejs%>
      <%include ../partials/middle.ejs%>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/client_office.js"></script>
    
  </body>
</html>